@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.32rem;
  font-style:normal;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
html{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size:625%;
}
img,div,body,html,ul,li,a{
  -webkit-touch-callout: none;
}
input,button{
  outline:0;

}
button{
  cursor:pointer;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: #ccc;
}
html,body,.box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box{
  display: flex;
  flex-direction: column;
}
.Top{
  width:100%;
  height: .9rem;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .2rem;
  a{
    color: #FFF;
    flex: 1;
    &:nth-child(2){
      text-align: center;
    }
    &:nth-child(3){
      text-align: right;
    }
    i.icon{
      margin-left: .34rem;
    }
  }
}
.content{
  flex: 1;
  position: relative;
  dl{
    padding-left: .25rem;
    position: relative;
    border-bottom: .18rem solid #F4F4F4;
    p{
      position: absolute;
      right: .2rem;
      bottom: .3rem;
      a{
        width: .4rem;
        height: .4rem;
        line-height: .4rem;
        text-align: center;
        border: 1px solid #EEE;
        display: inline-block;
      }
    }
    dt{
      line-height: .9rem;
      border-bottom: 1px solid #EEEEEE;
      position: relative;
      padding-left: .6rem;
      b{
        font-size: .26rem;
      }
      em{
        font-size: .26rem;
        position: absolute;
        right: .24rem;
      }
      span.yuan{
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -.175rem;
        overflow: hidden;
        em{
          display:inline-block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          border-radius: 50%;
        }
      }
    }
    dd{
      display: flex;
      align-items: center;
      padding: .12rem 0 .12rem .6rem;
      position: relative;
      span.yuan{
        position: absolute;
        left: 0;
        overflow: hidden;
        em{
          display:inline-block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          border-radius: 50%;
        }
      }
      ul{
        width: 100%;
        height:2.1rem;
        display: flex;
        li{
          &:nth-child(1){
            flex: 1;
            overflow: hidden;
            img{
              width: 100%;
              height: 100%;
            }
          }
          &:nth-child(2){
            flex: 2;
            padding-left:.24rem;
            span{
              display: block;
              &:nth-child(1){
                font-size: .2rem;
                line-height: .36rem;
                word-break: break-all;
              }
              &:nth-child(2){
                font-size: .2rem;
                line-height: .5rem;
                color: #BEBEBE;
              }
              &:nth-child(3){
                font-size: .32rem;
                color: #FF5500;
                i{
                  font-size: .12rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .close{
    width: 100%;
    height: .9rem;
    border-top: 1px solid #999;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    span{
      flex:1;
      text-align: right;
      &:nth-child(1){
        text-align: left;
        padding-left: .2rem;
      }
      em{
        color: #FF8200;
      }
      button{
        height: .9rem;
        width: 2rem;
        line-height: 100%;
        background: #FF8200;
        color: #FFF;
        border:none;
      }
    }
  }
}
.Bottom{
  width: 100%;
  height: .98rem;
  background: #ADD5F3;
  display: flex;
  a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
  }
}
.yuan{
  width: .35rem;
  height: .35rem;
  text-align: center;
  line-height: .35rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #9FA3B6;
  color: #FFF;
  cursor:pointer;
  position: relative;
  em{
    display:inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 50%;
    b{
      color: #FFF;
    }
  }
}
.en{
  background: green!important;
}